.DS_Store
thumbs.db
target
embedded_tomcat
/bin/
manifest-*
*.log
.settings/org.eclipse.wst.common.project.facet.*

### NodeJS related ###
npm-debug.log
node_modules

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
.classpath
.settings/org.eclipse.jdt.core.prefs
.settings/org.eclipse.wst.common.component
src/main/webapp/META-INF/MANIFEST.MF
